In [1]:
import pandas as pd
from pathlib import Path

In [2]:
budget_file_path = Path("Resources/budget_data.csv")
budget_file_df = pd.read_csv(budget_file_path)

In [3]:
budget_file_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [4]:
total_months = budget_file_df["Date"].count()
print("Total Months: " + str(total_months))

Total Months: 86

In [5]:
total_profit = budget_file_df["Profit/Losses"].sum()
print("Total: $" + str(total_profit))

Total: $22564198

In [6]:
avg_change = budget_file_df["Profit/Losses"].mean()
print("Average Change : $" + str(avg_change))

Average Change : $262374.3953488372

In [7]:
sorted_budget_file_df = budget_file_df.sort_values("Profit/Losses")
sorted_budget_file_df.head()

      Date  Profit/Losses
11  Dec-10       -1194133
73  Feb-16       -1149123
18  Jul-11       -1066544
49  Feb-14        -946748
78  Jul-16        -910775

In [8]:
max_increase = 0
for x in range(sorted_budget_file_df["Profit/Losses"]):
# for x in range(float(sorted_budget_file_df["Profit/Losses"])):
    x = int(x)
    if x < x+1:
        max_increase = x+1
    elif x>= x+1:
        max_increase = x
max_increase

TypeError: 'Series' object cannot be interpreted as an integer